{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> <font size="4"> Please Enter the Username for the New User to be Inserted... </font></strong>
            </div>
            <br><br>
            <div align="center">
                <div class="form-group">
                    <form method="post">
                        <div>
                            <input type="text" name="username" placeholder="username" required>
                        </div>
                        <br /><br />
{#                        <input type="submit" value="Insert New User">#}

                        <div>
                            <button type="submit" value="Insert New User" id="user-submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-file"></span> Insert User </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}