{% extends 'base.html' %}

{% block content %}
    <br />
    <div id="map" class="map map-home" style="height: 600px; width: 100%; margin-top: 14px"
         xmlns="http://www.w3.org/1999/html"></div>
    <title> Positioning System </title>


    <div class="row">
        <div class="col-md-4">
                                {% if data %}
            <span id="ex1CurrentSliderValLabel" style="font-size:16px;color:#2b56f4; font-weight:bold">Time :  <span id="ex1SliderVal" style="color:darkred; font-weight:bold"></span></span><br>
            <div class="btn-group" role="group" aria-label="...">
                    <input
                            id="ex1"
                            data-slider-id='ex1Slider'
                            type="text"
                            data-slider-min="0"
                            data-slider-max="86400"
                            data-slider-step="1"
                            data-slider-value="0"
                            data-provide="slider" />
                        </div>
                    <br />

            <div class="dropup">
                <button type="button" class="btn btn-primary dropdown" data-toggle="dropdown"><font size="2"> Speed <span class="glyphicon glyphicon-fast-forward"></span></font> </button>
                <div class="dropdown-menu">
                    <span id="ex4CurrentSliderValLabel" style="font-size:16px;color: black; font-weight:bold"> Timestamp Speed :  <span id="ex4SliderVal" style="color:darkred; font-weight:bold"></span></span><br>
                    <div class="btn-group" role="group" aria-label="...">
                        <input
                                id="ex4"
                                data-slider-id='ex4Slider'
                                type="range"
                                data-slider-name="slider-1"
                                data-slider-min="1"
                                data-slider-max="86400"
                                data-slider-scale="logarithmic"
                                data-slider-step="1"
                                data-slider-value="0"
                                data-provide="slider" />
                        </div>
                    </div>
              </div>

            <form method="post" id="fetch_data">
                <br>
                <input type="hidden" id="username" name="username">
            </form>
                                {% endif %}
        </div>


        <div class="col-md-4">
            <div align="left">
                {% if data %}
                    <p
                            style="font-size:14px;
                            color:black;
                            font-weight:bold"> Data length is: {{ count }}
                    </p>

                    <br/>
                    <div class="col-md-12">
                        <div class="row">
                        <span>Initial Timestamp is : <span id="data-holder1" style="font-size:10px;color:darkred; font-weight:bold"></span></span><br>
                        </div>
                    </div>
                        <br />

                    <div class="col-md-12">
                        <div class="row">
                            <span>Final Timestamp is : <span id="data-holder2" style="font-size:10px;color:darkred; font-weight:bold"></span></span><br>
                        </div>
                    </div>
                                            {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            <div align="left">
                {% if data %}
                <span id="ex1CurrentSliderValLabel" style="font-size:14px;color: black; font-weight:bold">Current Marker time: <span id="ex2SliderVal" style="color:darkred; font-weight:bold"></span></span><br>
                {% endif %}
            </div>
        </div>
    </div>
    <script>

        /**
         * Block Initialization code to Show and Hide the Marker and Polyline buttons JQUERY
         */

        $('#show1').click(function () {
            $('#show1').css('display', 'none');
            $('#hide1').show();
        });

        $('#hide1').click(function () {
            $('#hide1').css('display', 'none');
            $('#show1').show();
        });

        $('#show2').click(function () {
            $('#show2').css('display', 'none');
            $('#hide2').show();
        });

        $('#hide2').click(function () {
            $('#hide2').css('display', 'none');
            $('#show2').show();
        });

        /**
         * Jquery for Selecting Multiple Users
         */

         $(function() {
             $('#run').multipleSelect({
                 width: 260,
                 multiple: true,
                 multipleWidth: 80,
                 placeholder:" --- Select User --- "
             });

             $('option:checkbox').not(this).prop('checked', this.checked);
         });

         /**
         * Jquery for Auto hide/show the Start/Stop Buttons
         */

        $('#start').click(function () {
            $('#start').css('display', 'none');
            $('#stop').show();
        });

        $('#stop').click(function () {
            $('#stop').css('display', 'none');
            $('#start').show();
        });

        /**
         * Variables declaration Globally
         */

        var mymap;
        var markersLayer = new L.LayerGroup();
        var pathLayer = new L.LayerGroup();
        var counter = 0;
        var speed = 1000;
        var minSpeed = 1000;
        var maxSpeed = 0;
        var allMarkers = new L.LayerGroup();
        var newMarkers = new L.LayerGroup();

        var timer;
        var mySlider;

        var isAddingLayerAllowed = true;


        /**
         * Block function for displaying the slider in infinite loops
         */

        function loop() {
            mymap.removeLayer(markersLayer);
            mySlider.slider('setValue', ++counter);

            if (counter === 86399) {
                newMarkers.clearLayers();
                counter = 0;
            }
        }

        /**
         * Class initialization for limiting the number of markers on the Map
         */

        class ArrayHolder {
            constructor() {
                this.markers = [];
                this.limit = 1;
            }

            getMarkers() {
                return this.markers;
            }

            addMarker(value) {

                if (this.markers.length >= this.limit) {
                    var removedElem = this.markers.shift();
                    console.log("Limit is: " + this.limit + ". Removing element: " + removedElem);
                }

                this.markers.push(value);
                console.log("This.markers is : ", this.markers);

                return this.markers;
            }

            changeLimit(value) {
                this.limit = value;
            }
        }

        /**
         * Function to convert integer values into Hours and Minutes and Seconds format to be displayed on the slider
         */

        function time_convert(num) {
            var hours = Math.floor(num / 3600);
            var minutes = Math.floor((num - (hours * 3600)) / 60);
            var seconds = num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0" + hours;}
            if (minutes < 10) {minutes = "0" + minutes;}
            if (seconds < 10) {seconds = "0" + seconds;}

            return "\t" + hours + "\th" + ":" + "\t" + minutes  + "\tmin" + ":" + "\t" + seconds + "\tsec";
        }

         /**
         * Function to convert integer values into Hours and Minutes and Seconds format for more analysis
         */

        function tmp_convert(num) {
            var hours = Math.floor(num / 3600);
            var minutes = Math.floor((num - (hours * 3600)) / 60);
            var seconds = num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0" + hours;}
            if (minutes < 10) {minutes = "0" + minutes;}
            if (seconds < 10) {seconds = "0" + seconds;}

            return hours + ":" + minutes + ":" + seconds;
        }

        /**
         * Functions declaration for the buttons in the footer
         */

        function start() {
            clearInterval(timer);
            timer = setInterval(loop, speed);
        }

        function stop() {
            clearInterval(timer);
        }

        function decrease() {
            clearInterval(timer);
            if(speed +100 <= minSpeed)
                speed += 100;
                stop();
                start();
        }

        function singleSPeed() {
            clearInterval(timer);
            if(speed > maxSpeed )
                speed = (speed / 2);
                stop();
                start();
        }

        /**
         * Fetching the User Names to be selected from the Slider.
         */

        function fetch_data(e) {
            let name = $(e).val();
            $('#username').val(name);
            $("#fetch_data").submit();
        }

        /**
         * Assigning different colors to the markers icons.
         */

        function getColor(id) {
            var u = "";

            switch (id) {
                case 1:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-black.png';
                    break;
                case 2:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png';
                    break;
                case 3:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png';
                    break;
                case 4:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png';
                    break;
                case 5:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png';
                    break;
                case 6:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png';
                    break;
                case 7:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png';
                    break;
                default:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png';
                    break;
            }

            return icon = new L.Icon({
                iconUrl: u,
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [20, 30],
                iconAnchor: [12, 41],
                popupAnchor: [1, -24],
                shadowSize: [18, 18]
            });
        }


        /**
         * Function to convert Json format to Markers Array
         */

        function transformFromJsonToMarker(obj) {
            let markers = [];
            for (var k = 0; k < obj.length; ++k) {
                markers.push(
                    new L.marker([obj[k]['lat'], obj[k]['lan']], {
                        time: obj[k]['timestamp'],
                        icon: getColor(obj[k]['user_id'])
                    })
                );
            }
            return markers;
        }


        /**
         * Function to sort the dataset
         */

        function n(n) {
            return n > 9 ? "" + n : "0" + n;
        }

        function GetSortOrder(prop) {
            return function (a, b) {
                if (a[prop] > b[prop]) {
                    return 1;
                } else if (a[prop] < b[prop]) {
                    return -1;
                }
                return 0;
            }
        }


        /**
         * Function to extracting Latitude and Longitude to be used in Polyline
         */

        function extractPts(obj) {
            let pts = [];
            for (let i = 0; i < obj.length; i++) {
                pts.push(new L.LatLng(obj[i]['lat'], obj[i]['lan']));
            }
            return pts;
        }


        /**
         * Extracting the timestamp with ( old_field = only time ) & ( new_field = date and time )
         */

        function replaceByValue(obj, old_field, new_field) {
            for (var k = 0; k < obj.length; ++k) {
                var d = new Date(obj[k][old_field]);
                var s = "" + n(d.getHours()) + ":" + n(d.getMinutes()) + ":" + n(d.getSeconds());
                obj[k][new_field] = s;
            }
            return obj;
        }


        /**
         * Adding a new layer to display all the markers at the same time
         */

        function addLayerToMap(layer) {
            if (isAddingLayerAllowed) {
                layer.addTo(mymap);
            }
        }


        /**
         * Block code to be executing right after page has been loaded
         */

        $(document).ready(function () {

            let markersHolder = new ArrayHolder();

            $("#limit").on("change paste keyup", function () {
                markersHolder.changeLimit($(this).val());
            });

            /**
             * Creating a Map
             */

            {#mymap = new L.map('map').setView([46.71774876409919, 11.653304697298898], 10);#}
            mymap = new L.map('map').setView([39.92553946, 116.45336151], 12);
            addLayerToMap(markersLayer);
            addLayerToMap(newMarkers);

            /**
             * Adding the Tile Layer to the Map
             */

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 22,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            /**
             * JQUERY declaration to display the dropdown list for File
             */

            $('.dropdown-submenu a.nav-link').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
                    {% if data %}

                /**
                 * Spliting the Timestamp in a format that contain the date and time and another contain only the time
                 */

                let data = JSON.parse({{ data|tojson|safe }});
                data = replaceByValue(data, 'timestamp', 'dtt');
                data.sort(GetSortOrder('dtt'));

                /**
                 * JQUERY to show / hide all markers on the Map
                 */

                $("#show1").click(function () {
                    console.log("button that shows all markers is pressed");
                    allMarkers = new L.LayerGroup();
                    L.layerGroup(transformFromJsonToMarker(data)).addTo(allMarkers);
                    mymap.removeLayer(markersLayer);
                    mymap.removeLayer(pathLayer);
                    isAddingLayerAllowed = false;
                    allMarkers.addTo(mymap);
                });

                $("#hide1").click(function () {
                    console.log("button that hides all markers is pressed");
                    mymap.removeLayer(allMarkers);
                    isAddingLayerAllowed = true;
                    addLayerToMap(markersLayer);
                    addLayerToMap(pathLayer);
                });

                /**
                 * Block for the Slider display to visualize the markers on the Map.
                 */

                mySlider = $('#ex1').slider({
                    formatter: function (value) {
                        {#newMarkers.clearLayers();#}
                        for (var i = 0; i < data.length-1 ; i++) {
                            var date = new Date(data[i]['timestamp']);
                            var timestmp = (date.getHours() * 3600) + (date.getMinutes() * 60) + (date.getSeconds());

                            if (timestmp === value) {
                                var line = new L.polyline([[data[i]['lat'], data[i]['lan']],[data[i+1]['lat'], data[i+1]['lan']]], {
                                    color:'red',
                                    weight: 3,
                                    opacity: 1,
                                    smoothFactor: 1
                                });
                                markersHolder.addMarker(line);

                                $("#ex2SliderVal").text(data[i]['timestamp']);
                                return 'Current Marker Timestamp is : ' + data[i]['timestamp'];
                            }
                        }

                        L.marker(extractPts(data)[0], {icon: getColor(3)}).addTo(mymap);
                        L.marker(extractPts(data)[data.length - 1]).addTo(mymap);


                        {#for (var itm in data) {#}
                        {#    var date = new Date(data[itm]['timestamp']);#}
                        {#    var timestmp = (date.getHours() * 3600) + (date.getMinutes() * 60) + (date.getSeconds());#}
                        {##}
                        {#    if (timestmp === value) {#}
                        {#        let user_icon = getColor(data[itm]['user_id']);#}
                        {#        markersHolder.addMarker(L.marker([data[itm]['lat'], data[itm]['lan']], {#}
                        {#            time: data[itm]['timestamp'],#}
                        {#            icon: user_icon#}
                        {#        }));#}
                        {##}
                        {#        $("#ex2SliderVal").text(data[itm]['timestamp']);#}
                        {#        return 'Current Marker Timestamp is : ' + data[itm]['timestamp'];#}


                        let tmp = markersHolder.getMarkers();

                        L.layerGroup(tmp).addTo(newMarkers);

                        $("#ex1SliderVal").text(time_convert(value));
                        return 'Current value: ' + time_convert(value);
                    }
                });

                mySlider.on("slide", function(slideEvt) {
                    tmp = slideEvt.target.value;
                    con_time = tmp_convert(tmp);
                    newMarkers.clearLayers();

                     for (var itm = 0; itm < data.length-1 ; itm++) {
                         if (con_time > data[itm]['dtt']) {

                             new L.polyline([[data[itm]['lat'], data[itm]['lan']], [data[itm + 1]['lat'], data[itm + 1]['lan']]], {
                                 color: 'red',
                                 weight: 3,
                                 opacity: 1,
                                 smoothFactor: 1
                             }).addTo(newMarkers);

                             counter = tmp;
                             start();

                             $("#ex2SliderVal").text(data[itm]['timestamp']);
                         }
                     }
                 });

                mySlider.on("slideStart", function () {
                    clearInterval(timer);

                    markersLayer.clearLayers();
                    mymap.removeLayer(markersLayer);
                    markersLayer.addTo(mymap);
                });

                /**
                 * Block call for the Polyline display
                 */

                $("#show2").click(function () {
                   console.log("button that shows Polyline is pressed");
                   var path = new L.polyline(extractPts(data), {
                       snakingSpeed: 20,
                       color: 'red',
                       weight: 3,
                       opacity: 1,
                       smoothFactor: 1
                   });

                   pathLayer.addLayer((path).addTo(markersLayer));
                   pathLayer.addLayer( new L.marker(extractPts(data)[0], {icon: getColor(3)}).addTo(markersLayer));
                   pathLayer.addLayer( new L.marker(extractPts(data)[data.length - 1]).addTo(markersLayer));

                   path.snakeIn();

                   path.on('snake', function(ev) {
                       console.log(ev.type);
                       mySlider.slider('setValue', ++counter);
                   });
                });

                $("#hide2").click(function () {
                    console.log("button that hide Polyline is pressed");
                    mymap.removeLayer(markersLayer);
                });

                $("#data-holder1").text(JSON.stringify(data[0]['timestamp']));
                $("#data-holder2").text(JSON.stringify(data[data.length - 1]['timestamp']));

                $("#start").click(function () {
                    clearInterval(timer);
                    timer = setInterval(loop, speed);
                });

                $("#stop").click(function () {
                    clearInterval(timer);
                });

                $("#ex4").on("slide", function(slideEvt) {
                  clearInterval(timer);
                  if(speed > maxSpeed )
                      speed = 1000 * (1 / slideEvt.value);
                        console.log("Speed is : ", speed);
                        stop();
                        start();
                  $("#ex4SliderVal").text(slideEvt.value);
              });

            {% endif %}

              $('form input').change(function () {
                  $('form p').text(this.files.length + " file(s) selected");
              });
              console.log("ready!");
        });

    </script>

{% endblock %}
