{% extends 'base.html' %}

{% block content %}
    <br/>
    <div style="position:relative">
        <div id="map" class="map map-home" style="height: 600px; width: 100%; margin-top: 14px; z-index: 1;"
             xmlns="http://www.w3.org/1999/html"></div>
        <div id="map_disabled"
             style="position:absolute; top:0px; bottom: 0px; left: 0px; right: 0px; background: rgba(255,255,255,0.8); z-index: 2;"
             onclick="alert('Please, Click Run and select Data to Visualize')"></div>
    </div>
    <title> Positioning System </title>


    <div class="row">
        <div class="col-md-4">
            {% if data %}
                <span id="ex1CurrentSliderValLabel"
                      style="font-size:16px;color:#2b56f4; font-weight:bold"> Time :  <span id="ex1SliderVal"
                                                                                            style="color:darkred; font-weight:bold"></span></span>
                <br>
                <div class="btn-group" role="group" aria-label="...">
                    <input
                            id="ex1"
                            data-slider-id='ex1Slider'
                            type="text"
                            data-slider-min="0"
                            data-slider-max="86400"
                            data-slider-step="1"
                            data-slider-value="0"
                            data-provide="slider"/>
                </div>
                <br/>

                <span id="ex4CurrentSliderValLabel"
                      style="font-size:16px;color: black; font-weight:bold"> Speed :  <span id="ex4SliderVal"
                                                                                            style="color:darkred; font-weight:bold"></span>  %</span>
                <br>
                <div class="btn-group" role="group" aria-label="...">
                    <input
                            id="ex4"
                            data-slider-id='ex4Slider'
                            type="text"
                            data-slider-min="1"
                            data-slider-max="86400"
                            data-slider-step="1"
                            data-slider-value="0"
                            data-slider-scale="logarithmic"
                            data-slider-tooltip="always"
                            data-provide="slider"
                            data-slider-rangeHighlights='[{ "start": 0, "end": 7200, "class": "category1" },
                                   { "start": 7202, "end": 18000, "class": "category2" },
                                   { "start": 18002, "end": 28800, "class": "category3" },
                                   { "start": 28802, "end": 64800, "class": "category4" },
                                   { "start": 64802, "end": 86400 }]'/>
                </div>

                <form method="post" id="fetch_data">
                    <br>
                    <input type="hidden" id="username" name="username">
                </form>
            {% endif %}
        </div>


        <div class="col-md-4">
            <div align="left">
                {% if data %}
                    <p
                            style="font-size:14px;
                            color: mediumblue;
                            font-weight:bold"> Number of Available Dataset: {{ count }}
                        <script>
                            count_value = {{ count }};
                            if (count_value > 0) {
                                document.getElementById("map_disabled").style.zIndex = 0;
                            }
                            else {
                                alert("No Data Selected, Please Select Data, and Continue!");
                                document.getElementById("map_disabled").style.zIndex = 2;
                            }
                        </script>
                    </p>

                    <br/>
                    <div class="col-md-12">
                        <div class="row">
                            <span>Initial Timestamp is : <span id="data-holder1"
                                                               style="font-size:10px;color:darkred; font-weight:bold"></span></span><br>
                        </div>
                    </div>
                    <br/>

                    <div class="col-md-12">
                        <div class="row">
                            <span>Final Timestamp is : <span id="data-holder2"
                                                             style="font-size:10px;color:darkred; font-weight:bold"></span></span><br>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            <div align="left">
                {% if data %}
                    <span id="ex1CurrentSliderValLabel" style="font-size:14px;color: black; font-weight:bold"> Current Marker time: <span
                            id="ex2SliderVal" style="color:darkred; font-weight:bold"></span></span><br>
                {% endif %}
            </div>
        </div>
    </div>
    <script>

        /**
         * Block Initialization code to Auto Show / Hide the Markers and buttons JQUERY
         */

        $('#show1').click(function () {
            $('#show1').css('display', 'none');
            $('#hide1').show();
        });

        $('#hide1').click(function () {
            $('#hide1').css('display', 'none');
            $('#show1').show();
        });

        $('#show2').click(function () {
            $('#show2').css('display', 'none');
            $('#hide2').show();
        });

        $('#hide2').click(function () {
            $('#hide2').css('display', 'none');
            $('#show2').show();
        });

        /**
         * Jquery for Selecting Multiple Users
         */

        $(function () {
            $('#run').multipleSelect({
                width: 260,
                multiple: true,
                multipleWidth: 120,
                placeholder: " --- Select User --- ",
                onOpen: () => {
                    alert("Please, Select the Users from Checkbox, then Click on the Placeholder area covered in Blue to Continue! ")
                },
                onClose: () => {
                    document.getElementById('theForm').submit();
                    alert("The Data have been Selected, Click OK to continue! ")
                }
            });

            $('option:checkbox').not(this).prop('checked', this.checked);
        });

        /**
         * Jquery for Auto hide/show the Start/Stop Buttons
         */

        $('#start').click(function () {
            $('#start').css('display', 'none');
            $('#stop').show();
        });

        $('#stop').click(function () {
            $('#stop').css('display', 'none');
            $('#start').show();
        });

        /**
         * Global Variables declaration
         */

        var mymap;
        var markersLayer = new L.LayerGroup();
        var counter = 0;
        var speed = 1000;
        var minSpeed = 1000;
        var maxSpeed = 0;
        var newMarkers = new L.LayerGroup();

        var timer;
        var mySlider;
        var timeSlider;

        var isAddingLayerAllowed = true;

        /**
         * Block function for displaying the slider in infinite loops
         */

        function loop() {
            mymap.removeLayer(markersLayer);
            mySlider.slider('setValue', ++counter);

            if (counter === 86399) {
                newMarkers.clearLayers();
                counter = 0;
            }
        }


        /**
         * Class initialization for limiting the number of markers on the Map and slicing them
         */

        class ArrayHolder {
            constructor() {
                this.markers = [];
                this.limit = 26;
            }

            getMarkers() {
                return this.markers;
            }

            addMarker(value) {

                if (this.markers.length > this.limit) {
                    var removedElem = this.markers.shift();
                    mymap.removeLayer(removedElem);
                }

                this.markers.push(value);

                return this.markers;
            }

            cleanAll() {
                this.markers.forEach(mymap.removeLayer.bind(mymap));
                this.markers = []
            }

            changeLimit(value) {
                this.limit = value;
            }
        }

        /**
         * Function to convert integer values into Hours and Minutes and Seconds format to be displayed on the slider
         */

        function time_convert(num) {
            var hours = Math.floor(num / 3600);
            var minutes = Math.floor((num - (hours * 3600)) / 60);
            var seconds = num - (hours * 3600) - (minutes * 60);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }

            return "\t" + hours + "\th" + ":" + "\t" + minutes + "\tmin" + ":" + "\t" + seconds + "\tsec";
        }

        /**
         * Function to convert integer values into Hours and Minutes and Seconds format for more analysis
         */

        function tmp_convert(num) {
            var hours = Math.floor(num / 3600);
            var minutes = Math.floor((num - (hours * 3600)) / 60);
            var seconds = num - (hours * 3600) - (minutes * 60);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }

            return hours + ":" + minutes + ":" + seconds;
        }

        /**
         * Functions declaration to display the buttons in the footer
         */

        function start() {
            clearInterval(timer);
            timer = setInterval(loop, speed);
        }

        function stop() {
            clearInterval(timer);
        }

        function decrease() {
            clearInterval(timer);
            if (speed + 100 <= minSpeed)
                speed += 100;
            stop();
            start();
        }

        function singleSPeed() {
            clearInterval(timer);
            if (speed > maxSpeed)
                speed = (speed / 2);
            stop();
            start();
        }

        /**
         * Fetching the Username to be selected from the Slider.
         */

        function fetch_data(e) {
            let name = $(e).val();
            $('#username').val(name);
            $("#fetch_data").submit();
        }

        /**
         * Assigning different colors to the markers icons.
         */

        function getColor(id) {
            var u = "";

            switch (id) {
                case 1:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-black.png';
                    break;
                case 2:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png';
                    break;
                case 3:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png';
                    break;
                case 4:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png';
                    break;
                case 5:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png';
                    break;
                case 6:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png';
                    break;
                case 7:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png';
                    break;
                default:
                    u = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png';
                    break;
            }

            return icon = new L.Icon({
                iconUrl: u,
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [20, 30],              // size of the icon
                iconAnchor: [12, 41],            // point of the icon which will correspond to marker's location
                popupAnchor: [1, -24],           // the same for the shadow
                shadowSize: [18, 18]             // size of the shadow
            });
        }


        /**
         * Function to convert Json file format to Markers Array
         */

        function transformFromJsonToMarker(obj) {
            let markers = [];
            for (var k = 0; k < obj.length; ++k) {
                markers.push(
                    new L.marker([obj[k]['lat'], obj[k]['lan']], {
                        time: obj[k]['timestamp'],
                        icon: getColor(obj[k]['user_id'])
                    })
                );
            }
            return markers;
        }


        /**
         * Function sorting the dataset
         */

        function n(n) {
            return n > 9 ? "" + n : "0" + n;
        }

        function GetSortOrder(prop) {
            return function (a, b) {
                if (a[prop] > b[prop]) {
                    return 1;
                } else if (a[prop] < b[prop]) {
                    return -1;
                }
                return 0;
            }
        }


        /**
         * Function to extracting Latitude and Longitude to be used in in markers
         */

        function extractPts(obj) {
            let pts = [];                              //pts is the array of latitudes and longitudes points
            for (let i = 0; i < obj.length; i++) {
                pts.push(new L.LatLng(obj[i]['lat'], obj[i]['lan']));
            }
            return pts;
        }


        /**
         * Extracting the timestamp with ( old_field = only time ) & ( new_field = date and time )
         */

        function replaceByValue(obj, old_field, new_field) {
            for (let k = 0; k < obj.length; ++k) {
                let d = new Date(obj[k][old_field]);
                let s = "" + n(d.getHours()) + ":" + n(d.getMinutes()) + ":" + n(d.getSeconds());
                obj[k][new_field] = s;
            }
            return obj;
        }


        /**
         * Adding a new layer to display all the markers at the same time
         */

        function addLayerToMap(layer) {
            if (isAddingLayerAllowed) {
                layer.addTo(mymap);
            }
        }

        function color_change(id){
            return ['black','blue','grey','red', 'green', 'yellow', 'violet'][id];
        }


        /**
         * Block code to be executing right after page has been loaded
         */

        $(document).ready(function () {

            let markersHolder = new ArrayHolder();

            $("#limit").on("change paste keyup", function () {
                markersHolder.changeLimit($(this).val());
            });

            /**
             * Creating a Map
             */

            mymap = new L.map('map').setView([39.92553946, 116.45336151], 12);
            addLayerToMap(markersLayer);
            addLayerToMap(newMarkers);

            /**
             * Adding the Tile Layer to the Map
             */

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 22,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            /**
             * JQUERY declaration to display the dropdown list for File
             */

            $('.dropdown-submenu a.nav-link').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });

            {% if data %}

                /**
                 * Spliting the Timestamp in a format that contain the date and time and another contain only the time
                 */

                let data = JSON.parse({{ data|tojson|safe }});
                data = replaceByValue(data, 'timestamp', 'dtt');
                data.sort(GetSortOrder('dtt'));

                /**
                 *  Auto Initialize the Homepage Map to the updated coordinates
                 */

                mymap.setView([data[0]['lat'], data[0]['lan']], 11);


                /**
                 * Block for the Slider display to visualize the markers on the Map.
                 */

                mySlider = $('#ex1').slider({
                    formatter: function (value) {
                        {#markersHolder.cleanAll()#}
                        for (var itm in data) {
                            var date = new Date(data[itm]['timestamp']);
                            var timestmp = (date.getHours() * 3600) + (date.getMinutes() * 60) + (date.getSeconds());

                            if (timestmp === value) {
                                let user_icon = getColor(data[itm]['user_id']);

                                markersHolder.addMarker(L.marker([data[itm]['lat'], data[itm]['lan']], {
                                    time: data[itm]['timestamp'],
                                    icon: user_icon
                                }));


                                $("#ex2SliderVal").text(data[itm]['timestamp']);
                                return 'Current Marker Timestamp is : ' + data[itm]['timestamp'];
                            }
                        }

                        let tmp = markersHolder.getMarkers();

                        L.layerGroup(tmp).addTo(newMarkers);

                        $("#ex1SliderVal").text(time_convert(value));
                        return 'Current value: ' + time_convert(value);
                    }
                });

                /**
                 * Adding the Legend to the Map
                 */
                let legend = L.control({position: 'topright'});
                legend.onAdd = function (mymap) {
                    let div = L.DomUtil.create('div', 'info legend');
                    let labels = ['<strong>List of Users</strong>'];

                    let user_names = [];
                    {% if users %}
                            {% for user in users %}
                                user_names.push('{{ user.username }}');
                            {% endfor %}
                        {% endif %}

                    for (let i = 0; i < user_names.length; i++) {
                        div.innerHTML +=
                            labels.push(
                                '<i class="circle" style="background:' + color_change(i) + '"></i> ' + user_names[i]);
                    }
                    div.innerHTML = labels.join('<br>');
                    return div;
                };
                legend.addTo(mymap);


                mySlider.on("slideStop", function (slideEvt) {
                    tmp = slideEvt.target.value;  //tmp is the slider timestamp
                    con_time = tmp_convert(tmp);  //con_time is the converted time convert for the tmp
                    newMarkers.clearLayers();

                    for (var itm in data) {
                        if (con_time >= data[itm]['dtt']) {
                            let user_icon = getColor(data[itm]['user_id']);
                            markersHolder.addMarker(L.marker([data[itm]['lat'], data[itm]['lan']], {
                                time: data[itm]['timestamp'],
                                icon: user_icon
                            }));

                            counter = tmp;
                            start();

                            $("#ex2SliderVal").text(data[itm]['timestamp']);
                        }
                    }
                });

                mySlider.on("slideStart", function () {
                    clearInterval(timer);

                    markersLayer.clearLayers();
                    mymap.removeLayer(markersLayer);
                    markersLayer.addTo(mymap);
                });

                /**
                 * Block call for the Marker display
                 */

                $("#data-holder1").text(JSON.stringify(data[0]['timestamp']));
                $("#data-holder2").text(JSON.stringify(data[data.length - 1]['timestamp']));

                $("#start").click(function () {
                    clearInterval(timer);
                    timer = setInterval(loop, speed);
                });

                $("#stop").click(function () {
                    clearInterval(timer);
                });

                timeSlider = $("#ex4").on("slide", function (slideEvt) {
                    clearInterval(timer);
                    let range_value = 1;
                    if (speed > maxSpeed) {
                        range_value = Math.ceil(100 * slideEvt.value / 86400);
                        speed = 1000 * (1 / range_value);
                        stop();
                        start();
                    }

                    $("#ex4SliderVal").text(range_value);
                });

                timeSlider.on("slideStop", function (slideEvt) {
                    alert("In case the drag don't respond, drag from the tooltip represented by the Speed change in Black and White");
                    clearInterval(timer);
                    let range_value = 1;
                    if (speed > maxSpeed) {
                        range_value = Math.ceil(100 * slideEvt.value / 86400);
                        speed = 1000 * (1 / range_value);
                        stop();
                        start();
                    }

                    $("#ex4SliderVal").text(range_value);
                });

            {% endif %}

            $('form input').change(function () {
                $('form p').text(this.files.length + "file(s) selected");
            });
            console.log("ready!");
        });

    </script>

{% endblock %}
