{% extends 'base.html' %}

{% block content %}

<div id="map" class="map map-home" style="height: 600px; margin-top: 50px"></div>

<select onchange="fetch_data(this);">
    <option disabled selected value> -- select an option -- </option>
    {% if users %}
      <option value="all">All Users</option>
        {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
    {% endif %}
</select>
<!--<input type="submit" value="all" class="btn btn-primary">-->
<!--{% for user in users %}-->
    <!--<input type="submit" value="{{ user.username }}" class="btn btn-primary">-->
<!--{% endfor %}-->


<form method="post" id="fetch_data">
    <input type="hidden" id="username" name="username">
</form>

<script>
var mymap;
var markersLayer;

function fetch_data(e){
    var name = $(e).val();
    $('#username').val(name);
    $( "#fetch_data" ).submit();
};

    $( document ).ready(function() {
        //Creating a map with coordinates of Beinjing
        mymap = L.map('map').setView([39.92553946, 116.45336151], 12);

        {% if data %}
            var data = JSON.parse({{ data|tojson|safe }});
            markersLayer = new L.LayerGroup();
           // markersLayer.addTo(mymap);
            for (let i = 0; i < data.length; i++) {
                L.marker([data[i]['lat'], data[i]['lan']], {time: data[i]['timestamp']}).addTo(markersLayer);
            }

            var sliderControl = L.control.sliderControl({layer:markersLayer, follow: 6});
            //Adding Slider to the map
            mymap.addControl(sliderControl);
            //And initialize the slider
            sliderControl.startSlider();
        {% endif %}

        //adding tile layers to our map
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 20,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);

        console.log( "ready!" );

        $('#leaflet-slider').slider({autoplay: true});

    });

</script>
{% endblock %}