<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div>
      <a class="btn btn-outline-success" href="/">Home <span class="sr-only">(current)</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="True" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Files
            </button>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="/table">Database <span class="sr-only">(current)</span></a></li>
                <li class="divider"></li>
                <li class="nav-item dropdown">
                    <a href="{{ url_for('upload_data') }}">Upload new database</a>
                    <form class="form-inline mt-2 mt-md-0"></form>
                </li>
                <li class="divider"></li>

                <li class="dropdown-submenu">
                    <a class="nav-link" tabindex="-1" href="/">Data Insertion <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/add_user">Insert User <span class="sr-only">(current)</span></a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="/add_location">Insert Data <span class="sr-only">(current)</span></a></li>
                    </ul>
                  </li>
                <li class="divider"></li>

                <li class="dropdown-submenu">
                    <a class="nav-link" tabindex="-1" href="/">Data Deletion <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" tabindex="-1" href="/remove_user">Delete User <span class="sr-only">(current)</span></a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" tabindex="-1" href="/remove_location">Delete Data <span class="sr-only">(current)</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>



        <!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
        <!--<ul class="navbar-nav mr-auto">-->
          <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="/table">Database <span class="sr-only">(current)</span></a>-->
          <!--</li>-->
        <!--</ul>-->


            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--Data Insertion-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--<a class="dropdown-item" href="/add_user">Insert User <span class="sr-only">(current)</span></a>-->
                <!--<div class="dropdown-divider">-->
                <!--</div>-->
                    <!--<a class="dropdown-item" href="/add_location">Insert Data <span class="sr-only">(current)</span></a>-->
                <!--</div>-->
            <!--</li>-->




            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--Data Deletion-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--<a class="dropdown-item" href="/remove_location">Delete Data <span class="sr-only">(current)</span></a>-->
                <!--<div class="dropdown-divider">-->
                <!--</div>-->
                    <!--<a class="dropdown-item" href="/remove_user">Delete User <span class="sr-only">(current)</span></a>-->
                <!--</div>-->
            <!--</li>-->


            <!--<li class="nav-item dropdown" >-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Files-->
                <!--</a>-->
                <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--<li class="dropdown-submenu">-->
                        <!--<a class="test" tabindex="-1" href="#">Insertion <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a tabindex="-1" href="#">Insert User </a></li>-->
                            <!--<li><a class="test" href="#">Insert Data </a></li>-->
                       <!--</ul>-->
                   <!--</li>-->
                <!--</ul>-->
            <!--</li>-->


            <!--<li class="dropdown-submenu">-->
                <!--<a class="test" tabindex="-1" href="#">Deletion <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a tabindex="-1" href="#">Delete User </a></li>-->
                    <!--<li><a class="test" href="#">Delete Data </a></li>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

            <!--<li class="nav-item dropdown" >-->
             <!--<a href="{{ url_for('upload_data') }}">Upload new data</a>-->
            <!--<form class="form-inline mt-2 mt-md-0"></form>-->
            <!--</li>-->

    </nav>
