<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" role="navigation">

    <!-- navbar-header-->
  <div class="collapse navbar-collapse" id="navbarNavDropdown" role="navigation">
    <ul class="navbar-nav mr-auto">
        <li class="nav nav-item dropdown">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-screenshot" aria-hidden="false"></span> Positioning System </a>
        </li>

      <li class="nav nav-item dropdown active">
        <a class="nav-link" href="/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> File </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a style="color:gray" class="nav-link" href="/table">View Entries<span class="sr-only">(current)</span></a></li>
            <li class="divider"></li>

            <li class="nav-item dropdown">
                <li><a style="color:gray" href="{{ url_for('upload_data') }}"> Import... </a></li>
                <form class="form-inline mt-2 mt-md-0"></form>
            </li>
        </ul>
      </li>

        <li class="nav nav-item dropdown active">
            <a class="nav-link" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Insert </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <li><a style="color:gray" href="/add_user"> New User <span class="sr-only">(current)</span></a></li>
                    <li class="divider"></li>
                    <li><a style="color:gray" href="/add_location"> New Data <span class="sr-only">(current)</span></a></li>
                </li>
            </ul>
        </li>


        <li class="nav nav-item dropdown active">
            <a class="nav-link" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete</a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <li><a style="color:gray" href="/remove_user"> Existing User <span class="sr-only">(current)</span></a></li>
                    <li class="divider"></li>
                    <li><a style="color:gray" href="/remove_location"> Existing Data <span class="sr-only">(current)</span></a></li>
                    <li class="divider"></li>
                    <li class="nav-item dropdown">
                        <a style="color:gray" href="{{ url_for('delete_database') }}"> Clean Stored Entries </a>
                        <form class="form-inline mt-2 mt-md-0"></form>
                    </li>
                </li>
            </ul>
        </li>


{#        <li class="nav nav-item dropdown active">#}
{#            <a class="nav-link" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Run</a>#}
{#            <ul class="dropdown-menu">#}
{#                {% if users %}#}
{#                    <form method="post">#}
{#                        <input type="checkbox" id="check-all-users"> All users <br>#}
{#                        {% for user in users %}#}
{#                            <input type="checkbox" name="username" value="{{ user.username }}">#}
{#                             {{ user.username }} <br>#}
{#                        {% endfor %}#}
{#                        <br>#}
{#                        <input type="submit" value="Get data" class="btn btn-success">#}
{#                    </form>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </li>#}


    <li class="nav nav-item dropdown active">
        <a class="nav-link" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Run</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                    <li><a style="color:gray" href="/"> Click checkbox <span class="sr-only">(current)</span></a></li>
            {% if users %}
                <form method="post">
                    <select id='run' name="username" multiple="multiple">
                        {% if users %}
                            {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                        <br>
                        <br>
                    <div align="center">
                        <input type="submit"  id="submit" value="Get data" class="btn btn-success">
                    </div>
                </form>
            {% endif %}
        </ul>
    </li>

    </ul>
  </div>

{#    <div id="mySidenav" class="sidenav">#}
{#                            {% if data %}#}
{#        <li>#}
{#            <a class="nav-link" style="color:white" id="show1">Show Markers </a>#}
{#            <a class="nav-link" style="color:white" id="hide1"> Hide Markers </a>#}
{#        </li>#}
{##}
{#        <li>#}
{#            <a class="nav-link" style="color:white" id="show2"> Show Lines </a>#}
{#            <a class="nav-link" style="color:white" id="hide2"> Hide Lines </a>#}
{#        </li>#}
{#                             {% endif %}#}
{#    </div>#}

    <!-- Footer -->

    <div class="footer">
        <div class="row">
                {% block footer %}
                            {% if data %}

            <a style="color:whitesmoke" class="nav-link" onclick="decrease()"><span class="glyphicon glyphicon-fast-backward"></span> Slow Down</a>

            <a id="start" style="color:whitesmoke" class="nav-link"><span class="glyphicon glyphicon-play " style="color:green"></span> Start </a>
            <a id="stop" style="color:whitesmoke" class="nav-link"><span class="glyphicon glyphicon-pause" style="color:red"></span> Stop </a>

            <a style="color:whitesmoke" class="nav-link" onclick="singleSPeed()">Speed Up <span class="glyphicon glyphicon-fast-forward"></span></a>

                            {% endif %}
                {% endblock %}
        </div>
    </div>
</nav>
