{% extends 'base.html' %}

{% block content %}
    <br/>
    <br />
    <br />
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> <font size="4"> Please Select the Username from <span style="color: darkred" class="glyphicon glyphicon-check"></span> Checkbox to be Deleted...</font> </strong>
            </div>
            <br><br>
            <div align="center">
                <div class="form-group">
                    <form method="post" action="/remove_user">
                        {% for user in users %}
                            <input type="checkbox" name="user[]" value="{{ user.id }}">{{ user }}<br>
                        {% endfor %}
                        <br /><br />
                        <div>
                            <button type="submit" class="btn btn-danger navbar-btn">
                                <span class="glyphicon glyphicon-trash"></span> remove
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}