{% extends 'base.html' %}

{% block content %}

<form method="post" action="{{ url_for('delete_database') }}">
    <input hidden name="command" value="delete_database">
    <input type="submit" value="Delete Current Document">
</form>





<form method="post" enctype="multipart/form-data">
    <div>
        <label for = "file"> Select CSV file from your Computer </label>
        <input type="file" id="file" name="file" accept="text/csv" required>
    </div>
    <div>
        <input type="submit" value="Upload file">
    </div>
</form>
{% endblock %}